<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" />
        <customErrors mode="RemoteOnly"/>
        <pages maintainScrollPositionOnPostBack="true" enableEventValidation="true"  validateRequest="true"  />
        <httpRuntime requestPathInvalidCharacters="&lt;,&gt;,%,&amp;,:,\,?" enableVersionHeader="false" />
    </system.web>
    <system.webServer>
        <rewrite>
            <!--<rules>
                <rule name="Force HTTPS" enabled="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions>
	                    <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
                </rule>
            </rules>-->
            <outboundRules>
                <clear />
                <rule name="500 Personalizada" preCondition="IsDirectory" patternSyntax="Wildcard">
                    <match serverVariable="RESPONSE_STATUS" pattern="500" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" value="404" />
                </rule>
                <rule name="Remover Encabezado Server" enabled="true">
                    <match serverVariable="RESPONSE_SERVER" pattern=".+" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
                    <action type="Rewrite" value="" />
                </rule>
                <rule name="Remover Powered By" enabled="true">
                    <match serverVariable="RESPONSE_X-POWERED-BY" pattern=".+" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
                    <action type="Rewrite" />
                </rule>
                <preConditions>
                    <preCondition name="IsDirectory">
                        <add input="{ORIGINAL_URL}" pattern=".*/" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <security>
	    <!--<ipSecurity allowUnlisted="true">
		<add ipAddress="187.162.192.66"/>
	    </ipSecurity>-->
            <requestFiltering allowDoubleEscaping="false" removeServerHeader="true">
                <verbs>
                    <remove verb="OPTIONS" />
                    <remove verb="TRACE" />
                    <add verb="OPTIONS" allowed="false" />
                    <add verb="TRACE" allowed="false" />
                    <add verb="POST" allowed="true" />
                </verbs>
                <requestLimits maxUrl="4096" maxQueryString="2048" />
            </requestFiltering>
        </security>
        <httpProtocol>
          <customHeaders>
              <add name="Arr-Disable-Session-Affinity" value="True" />
              <add name="X-Frame-Options" value="SAMEORIGIN" />
              <remove name="X-Powered-By" />
              <remove name="Server" />
              <remove name="X-AspNet-Version" />
          </customHeaders>
        </httpProtocol>
        <urlCompression doStaticCompression="false" doDynamicCompression="false"/>
    </system.webServer>
</configuration>
