<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MessageTemplate</title>
<style type="text/css">
<!--
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	background-color:#F0F0F0;
}
td {
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
}
-->
</style>
</head>
<body style="background-color:#F0F0F0;font-size:10px;font-family:Arial, Helvetica, sans-serif;">
<table style="background-color:#F0F0F0;font-size:10px;font-family:Arial, Helvetica, sans-serif;border-collapse:collapse;margin:auto;width:100%;">
  <tr>
    <td>

<br />

        <table style="border-collapse:collapse;margin:auto;border:1px solid #e0e0e0;width:95%;background-color:#FFFFFF;">
        <tr>
        <td style="padding:10px;border-bottom:1px solid #e0e0e0;">
        <img src="https://storage.orveecrm.com/images/trademark.png" alt="Trademark" width="134" height="46" />
        </td>
        </tr>
        <tr>
        <td style="padding:10px;">
        <br />
        |MESSAGECONTENT|
        <br /><br /><br />
        <span style="color:#999999;font-size:9px;">
        |MESSAGEINFO|<br />
        </span>
        </td>
        </tr>
        </table>
        
<br />
<br />
        
    </td>
  </tr>
</table>
</body>
</html>
