<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>UserBlocked</title>
<style type="text/css">
<!--
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	background-color:#FFFFFF;
}
td {
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
}
-->
</style>
</head>
<body>
<br />
<table style="border-collapse:collapse;margin:5px 5px 5px 5px;border:1px solid #e0e0e0;width:100%;background-color:#FFF0F0;" cellpadding="5">
<tr>
<td style="padding:10px;">
<img src="https://storage.orveecrm.com/images/trademark.png" alt="Trademark" width="134" height="46" style="border:1px solid #e0e0e0;" />
<br /><br />
<table style="border-collapse:collapse;margin:0px 0px 0px 0px;border:1px solid #999999;background-color:#ffffff;" cellpadding="5">
  <tr style="border-bottom:1px solid #999999;background-color:#f0f0f0;">
    <td colspan="2" style="font-size:10px;"><strong>|SOURCE|</strong></td>
  </tr>
  <tr style="border-bottom:1px solid #999999;background-color:#ff0000;">
    <td colspan="2"><span style="font-size:20px;color:#ffffff;font-weight:bold;">Usuario Bloqueado</span></td>
  </tr>
  <tr style="border-bottom:1px solid #999999;background-color:#ffffff;">
    <td style="color:#666666;">Usuario:</td>
    <td style="font-size:10px;"><strong>|USERNAME|</strong></td>
  </tr>
  <tr style="border-bottom:1px solid #999999;background-color:#ffffff;">
    <td style="color:#666666;">Acceso:</td>
    <td style="font-size:10px;"><strong>|ACCESSURL|</strong></td>
  </tr>
  <tr style="border-bottom:1px solid #999999;background-color:#ffffff;">
    <td style="color:#666666;">Status:</td>
    <td style="font-size:10px;"><strong>|USERSTATUS|</strong></td>
  </tr>
  <tr style="border-bottom:1px solid #999999;background-color:#ffffff;">
    <td style="color:#666666;">&nbsp;</td>
    <td style="font-size:10px;"><strong>|USERDATE|</strong></td>
  </tr>
</table>
<br />
<span style="font-size:10px;">
El acceso ha sido bloqueado.<br />
Por favor, contacte a su Administrador para tener acceso de nuevo.<br />
</span>
<br />
<span style="color:#999999;font-size:9px;">
|APP| @ |SOURCE|<br />
|MOREINFO|<br />
</span>
</td>
</tr>
</table>
<br />
<br />
</body>
</html>
